<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="dialog-form">
    <mat-form-field appearance="fill" class="dialog-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      @if (form.controls['name'].hasError('required')) {
        <mat-error>
          Name is required
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="dialog-field">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary"
          (click)="save()" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
