<h2 mat-dialog-title class="dialog-title-custom-class">{{ title }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="dialog-form">
    <mat-form-field appearance="outline" class="dialog-field">
      <mat-label>{{ 'edit.wh.dialog.add.name' | translate }}</mat-label>
      <input matInput formControlName="name">
      @if (form.controls['name'].hasError('required')) {
        <mat-error>
          {{ 'edit.wh.dialog.add.name.error.required' | translate }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="dialog-field">
      <mat-label>{{ 'edit.wh.dialog.add.description' | translate }}</mat-label>
      <textarea matInput type="text" formControlName="description" appAutoResize></textarea>
    </mat-form-field>

    <!-- Box editing: choose target Room -->
    @if (data.editType === EditDialogType.BOX) {
      <mat-form-field appearance="outline" class="dialog-field">
        <mat-label>{{ 'edit.wh.dialog.move.location' | translate }}</mat-label>
        <mat-select formControlName="targetRoomIndex" [compareWith]="compareBoxFn">
          @for (w of data.warehouses; track $index; let wi = $index) {
            <mat-optgroup [label]="w.name">
              @for (r of w.rooms; track $index; let ri = $index) {
                <mat-option [value]="{warehouse: wi, room: ri}">
                  {{ r.name }}
                </mat-option>
              }
            </mat-optgroup>
          }
        </mat-select>
      </mat-form-field>
    }

    <!-- Item editing: choose target Box -->
    @if (data.editType === EditDialogType.ITEM) {
      <mat-form-field appearance="outline" class="dialog-field">
        <mat-label>{{ 'edit.wh.dialog.move.location' | translate }}</mat-label>
        <mat-select formControlName="targetBoxIndex" [compareWith]="compareItemFn">
          @for (w of data.warehouses; track $index; let wi = $index) {
            @for (r of w.rooms; track $index; let ri = $index) {
              <mat-optgroup [label]="w.name + ' / ' + r.name">
                @for (b of r.boxes; track $index; let bi = $index) {
                  <mat-option [value]="{warehouse: wi, room: ri, box: bi}">
                    {{ b.name }}
                  </mat-option>
                }
              </mat-optgroup>
            }
          }
        </mat-select>
      </mat-form-field>
    }
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="cancel()">
    {{ 'edit.wh.dialog.add.cancel' | translate }}
  </button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">
    {{ 'edit.wh.dialog.add.save' | translate }}
  </button>
</mat-dialog-actions>
