@let warehouses = (warehouses$ | async);

<mat-card class="warehouse-card">

  <!-- Nav bar -->
  <div class="nav-header">
    <div class="nav-left">
      @if (viewLevel > 0) {
        <button mat-icon-button (click)="goBack()">
          <mat-icon class="mat-icon-class">arrow_back</mat-icon>
        </button>
      }
      <span class="nav-title">
      {{ getNavTitle() }}
    </span>
    </div>

    <div class="nav-right">
      @if (viewLevel > 0) {
        <button mat-icon-button (click)="remove()">
          <mat-icon class="mat-icon-class">delete</mat-icon>
        </button>
        <button mat-icon-button (click)="edit()">
          <mat-icon class="mat-icon-class">edit</mat-icon>
        </button>
      }
      <button mat-icon-button (click)="add()">
        <mat-icon class="mat-icon-class">add_circle</mat-icon>
      </button>
    </div>
  </div>

  @if (warehouses && warehouses.warehouses.length > 0) {

    <!-- Warehouses list -->
    @if (viewLevel === 0) {
      <div class="tile-list warehouses">
        @for (w of warehouses.warehouses; track $index) {
          <div class="tile">
            <mat-card class="tile-card" (click)="enterWarehouse($index)">
              <mat-card-title class="card-title-class">{{ w.name }}</mat-card-title>
              <mat-card-subtitle class="subtitle-dates">
                {{ 'wh.element.lastModificationTimestamp' | translate }}{{ this.presentTimestamp(this.getLastModificationTimestampForWarehouse(w)) }}
              </mat-card-subtitle>
              <mat-card-subtitle class="subtitle-dates">
                {{ 'wh.element.createdTimestamp' | translate }}{{ this.presentTimestamp(w.createdTimestamp) }}
              </mat-card-subtitle>
              <mat-card-content class="subtitle-description">
                {{ w.description }}
              </mat-card-content>
            </mat-card>
          </div>
        }
      </div>
    }

    <!-- Rooms -->
    @if (viewLevel === 1 && selectedWarehouseIndex !== null) {
      @let warehouse = warehouses.warehouses[selectedWarehouseIndex];
      <div class="tile-list rooms">
        @for (room of warehouse.rooms; track $index) {
          <div class="tile">
            <mat-card class="tile-card" (click)="enterRoom($index)">
              <mat-card-title class="card-title-class">{{ room.name }}</mat-card-title>
              <mat-card-subtitle class="subtitle-dates">
                {{ 'wh.element.lastModificationTimestamp' | translate }}{{ this.presentTimestamp(this.getLastModificationTimestampForRoom(room)) }}
              </mat-card-subtitle>
              <mat-card-subtitle class="subtitle-dates">
                {{ 'wh.element.createdTimestamp' | translate }}{{ this.presentTimestamp(room.createdTimestamp) }}
              </mat-card-subtitle>
              <mat-card-content class="subtitle-description">
                {{ room.description }}
              </mat-card-content>
            </mat-card>
          </div>
        }
      </div>
    }

    <!-- Boxes -->
    @if (viewLevel === 2 && selectedWarehouseIndex !== null && selectedRoomIndex !== null) {
      @let warehouse = warehouses.warehouses[selectedWarehouseIndex];
      <div class="tile-list boxes">
        @for (box of warehouse.rooms[selectedRoomIndex].boxes; track $index) {
          <div class="tile">
            <mat-card class="tile-card" (click)="enterBox($index)">
              <mat-card-title class="card-title-class">{{ box.name }}</mat-card-title>
              <mat-card-subtitle class="subtitle-dates">
                {{ 'wh.element.lastModificationTimestamp' | translate }}{{ this.presentTimestamp(this.getLastModificationTimestampForBox(box)) }}
              </mat-card-subtitle>
              <mat-card-subtitle class="subtitle-dates">
                {{ 'wh.element.createdTimestamp' | translate }}{{ this.presentTimestamp(box.createdTimestamp) }}
              </mat-card-subtitle>
              <mat-card-content class="subtitle-description">
                {{ box.description }}
              </mat-card-content>
            </mat-card>
          </div>
        }
      </div>
    }

    <!-- Items -->
    @if (viewLevel === 3
    && selectedWarehouseIndex !== null
    && selectedRoomIndex !== null
    && selectedBoxIndex !== null) {
      @let warehouse = warehouses.warehouses[selectedWarehouseIndex];
      <mat-list>
        @for (item of warehouse.rooms[selectedRoomIndex].boxes[selectedBoxIndex].items; track $index) {
          <mat-list-item>
            <span matListItemTitle><mat-icon matListIcon class="mat-icon-in-list-class">sell</mat-icon>{{ item.name }}</span>
            @if (item.description) {
              <span matListItemLine class="list-item-description">
              <mat-icon matListIcon class="mat-icon-in-list-class">category</mat-icon>{{ item.description }}
            </span>
            }
            <span matListItemLine class="list-item-timestamps">
              {{ 'wh.element.lastModificationTimestamp' | translate }}{{ this.presentTimestamp(item.updatedTimestamp) }}
            </span>
            <span matListItemLine class="list-item-timestamps">
              {{ 'wh.element.createdTimestamp' | translate }}{{ this.presentTimestamp(item.createdTimestamp) }}
            </span>
          </mat-list-item>
        }
      </mat-list>
    }
  }
</mat-card>
