@use '../home/warehouse/warehouse.component' as *;

.filter-container {
  margin-top: 5px;
}

.list-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

mat-card {
  padding-top: 0;
}

mat-list {
  padding-top: 0;
}
