<div class="home-content">
  <div class="container">
    <div class="row">
      <mat-card class="short-page-content" style="margin-top: 20px">
        <mat-card-title>
          <h1>Dummy title!</h1>
        </mat-card-title>
        <mat-card-content>

          <button mat-raised-button color="primary" class="action-button"
                  (click)="createDummyWarehouse()">
            Create warehouse
          </button>

          <ng-container *ngIf="warehouse$ | async as warehouse">
            <h2>{{ warehouse.name }}</h2>
            <p>{{ warehouse.description }}</p>
            <ul>
              <li *ngFor="let room of warehouse.rooms">
                {{ room.name }} ({{ room.description }})
                <ul>
                  <li *ngFor="let box of room.boxes">
                    {{ box.name }} – {{ box.description }}
                    <ul>
                      <li *ngFor="let item of box.items">
                        {{ item.name }} – {{ item.description }}
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </ng-container>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
